h1 {
	font-size: 48px;
}
.post-heading {
	color: #006633;
	font-size: 1.8em;
	text-align: center;
}
blockquote {font-style:italic;}
.hero-image {float:left;
width: 640px;}
#article-thumbs {text-align: center;
clear; left;
width; 200px;}


p{text-align:justify;
	text-justify: inter-word;
	text-indent:25px;
}

#main-nav	{
	font-size: 1.3em;
/*unvisited link */
a:link{text-decoration:none;}
/*mouse over link/*
a:hover {text-decoration: underline;}
}
blockquote	{
	color: #33ccff;
	font-size: 1.3em;
}
